.par-before {
    color:green;
    }


.par-after {
color:red;
}


.h1-after {
    color:rgb(0, 60, 255);
    }

.h1-before {
    color:rgb(92, 53, 10);
    }

    .test {

        color:yellow;
    }